<!-- <p>liste-styles works!</p> -->
<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
<app-update-style [style]="updatedst"
(styleUpdated)= "styleUpdated($event)"   
[ajout]="ajout"></app-update-style>
</div>

    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom style</th> </tr>
    </thead>
    <tbody *ngFor="let st of styles">
    <tr>
    <td>{{st.idst}}</td>
    <td>{{st.nomst}}</td>
    <td><a class="btn btn-success" (click)="updatest(st)">Editer</a></td>
    <td><a class="btn btn-danger" >Supprimer</a></td>
                            
    <td><a  class="btn btn-success" >Modifier</a></td>

 
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
